* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-height: 20em;
    min-width: 20em;
    overflow-y: auto;
}

.session {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1em;
    cursor: pointer;
}

.sessionEmpty {
    padding: 1em;
    line-height: 1.5em;
    font-weight: bold;
}

.session:hover {
    background-color: #cccccc;
}

.title {
    max-width: 30em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.favicon {
    height: 1.5em;
    margin-right: 1em;
}
