* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.session, .sessionEmpty, .header {
    padding: 1em;
}

body {
    max-height: 30em;
}

.header {
    border-bottom: 1px solid #aaaaaa;
}

.sessionList {
    display: flex;
    flex-direction: column;
}

.session {
    margin: 0.3em;
    border-radius: 0.6em;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.session:hover {
    background-color: #cccccc;
}

.session > .favicon {
    height: 1.5em;
    width: 1.5em;
    margin-right: 1em;
}

.session > .title {
    max-width: 30em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
